@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');  

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    /* border: 2px solid rgb(228, 127, 127); */
    width: 1440px;
    margin: auto;
}

/*******Header Begins*******/
.header {
    border-bottom: 2px solid black;
}

.hamburger {
    display: none;
}

.logo {
    /* border: 2px solid yellow; */
    margin-top: 53px;
    margin-left: 149px;
    margin-bottom: 53px;
    float: left;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
}

.nav {
    /* border: 2px solid green; */
    float: right;
    margin-top: 65px;
    margin-right: 116px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.navlist {
    /* border: 2px solid blue; */
    float: left;
    margin-right: 100px;
}

.login{
    /* border: 2px solid violet; */
    float: right;
}

.navlist ul li{
    display: inline;
}

.navlist ul li a{
    text-decoration: none;
    color: #334756;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 8px;
}

.navlist ul li a:hover {
    color: black;
}

.navlist ul li a:active {
    color: black;
}

.login ul li {
    display: inline;
}

.login ul li a {
    text-decoration: none;
    color: #334756;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 8px;
}
/*******Header Ends*******/

/*******Introduction Begins*******/
.wrapper {
    /* border: 2px solid yellow; */
    margin-top: 80px;
}

.introduction {
    /* border: 2px solid brown; */
}

.introduction_image img{
    /* border: 2px solid red; */
    width: 42.238889%;
    float: left;
    margin-left: 149px;
}

.introduction_content {
    /* border: 2px solid red; */
    float: right;
    width: 33.47222222%;
    margin-top: 46.84px;
    margin-right: 116px;
    margin-left: 79px;
}

.introduction_content h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-transform: capitalize;
    width: 482px;
    height: 159px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #334756;
}

.special-text {
    color: #FF4C29;
}

.introduction_content p {
    width: 396.87px;
    height: 54px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #667580;
    margin-bottom: 70px;
}

.mobile {
    display: none;
}
.colored-button {
    align-items: center;
    padding: 5px 20px;
    width: 193px;
    height: 48px;

    background: #FF4C29;
    color: white;
    border-radius: 0px;
    margin-right: 10px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

.simple-button {
    justify-content: center;
    align-items: center;
    padding: 5px 20px;

    width: 157px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #667580;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2C394B;
    margin: 0px 10px;
}
/*******Introduction Ends*******/

/*******Browse Begins*******/
.browse {
    /* border: 2px solid green; */
    margin-top: 150px;
    margin-left: 149px;
    margin-right: 116px;
}

.browse_content {
    /* border: 2px solid gray; */
}

.browse_content h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    text-transform: capitalize;

    color: #2C394B;
    float: left;
}

.browse_content p {
    float: right;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #667580;
}

.browse_text_mobile {
    display: none;
}

.browse_cards {
    margin-top: 40px;
}

.card-1 {
    float: left;
    width: 355px;
    height: 264px;
    margin-right: 47px;
    align-items: center;
    background: #2C394B;
}

.card_bottom {
    padding: 21px;
    color: white;
    padding-bottom: 35px;
}

.card-left {
    width: 89px;
    height: 22px;  
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-right {
    float: right;
}

.card-2 {
    float: left;
    width: 355px;
    height: 264px;
    margin-right: 47px;
    align-items: center;
    padding: 40px;
    background: #2C394B;
}

.card-2_text {
    width: 292px;
    height: 52px;   
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #C2C2C2;
    margin-bottom: 30px;  
}

.card-3 {
    float: left;
    width: 355px;
    height: 264px;
    align-items: center;
    background: #2C394B;
}
/*******Browse Ends*******/

/*******Facilities Begins*******/
.facilities {
    /* border: 2px solid blue; */
    margin-top: 150px;
    margin-left: 149px;
    margin-right: 116px;
}

.facilities_content {
    margin-top: 30px;
}

.facilities_title_tablet {
    display: none;
}

.facilities_content ul {
    float: left;
}

.facilities_content ul a li{
    text-decoration: none;
    display: inline-block;
    padding: 14px 24px;
    color: #334756;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.facilities_content ul a{
    text-decoration: none;
}

.facilities_content ul a li:hover{
    background: #FF4C29;
    color: white;
}

.facilities_content img {
    float: right;
}
/*******Facilities Ends*******/

/*******Location Begins*******/
.location {
    /* border: 2px solid pink; */
    margin-top: 78px;
    background: #F7F7F7;
}

.map_desktop {
    float: left;
    width: 810px;
    height: 315px;
    margin-top: 73px;
    margin-left: 20px;
    margin-bottom: 63px;
    /* border: 2px solid black; */
}

.map_mobile {
    display: none;
}

.location_content {
    /* border: 2px solid red; */
    float: right;
    width: 33.47222222%;
    margin-right: 100px;
    margin-top: 90px;
    margin-left: 20px;
}

.location_content h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-transform: capitalize;
    margin-top: 20px;
    color: #334756;
}

.location_content p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #667580;
    margin-bottom: 70px;
    margin-top: 20px;
}

.location_explore {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #086DE0;
}
/*******Location Ends*******/

/*******Feedback Begins*******/
.feedback {
    /* border: 2px solid blue; */
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.feedback_card {
    float: left;
    width: 370px;
    height: 260px;
    margin-right: 24px;
    align-items: center;
    padding: 41px 30px 0 35px;
    background: #334756;
}

.quotes {
    opacity: 0.5; 
    float: left; 
    position: absolute; 
    margin-top: -24px; 
    margin-left: -10px
}

.feedback_card2 {
    float: left;
    width: 370px;
    height: 260px;
    margin-right: 24px;
    align-items: center;
    padding: 41px 30px 0 35px;
    background: #334756;
}

.feedback_card-3 {
    float: left;
    width: 370px;
    height: 260px;
    align-items: center;
    padding: 41px 30px 0 35px;
    background: #334756;
}

.feedback-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.feedback_card_bottom {
    /* border: 2px solid white; */
    margin-top: 95px;
}

.feedback_card_bottom-card2 {
    /* border: 2px solid white; */
    margin-top: 73px;
}

.customer_image {
    float: left;
    margin-right: 16px;
}

.about_customer {
    float: left;
}

.name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; 
}

.work {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}

.swipe {
    display: none;
}
/*******Feedback Ends*******/

.companies {
    /* border: 2px solid red; */
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.companies_heading {    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-transform: capitalize;
    text-align: center;
    color: #334756;
    margin-bottom: 20px;
}

.companies_para {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #667580;
    text-align: center;
    margin-bottom: 82px;
}

.companies_logo {
    /* border: 2px solid orange; */
    margin-left: 71.8px;
    margin-right: 85.99px;
}

.companies_logo img {
    margin-left: 85.99px;
}

.blog {
    /* border: 2px solid green; */
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.trends_title_mobile {
    display: none;
}

.blog_cards {
    /* border: 2px solid red; */
    margin-top: 40px;
}

.blog_card-1 {
    float: left;
    width: 360px;
    height: 357px;
    margin-right: 31.07px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 10px 9px rgba(0,0,0,0.35);
    margin-bottom: 38.82px;
}

.blog_card_bottom {
    color: black;
    padding-bottom: 35px;
}

.blog_card_bottom h4 {
    margin: 22.5px 44.82px 0px 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #334756;
}

.blog_card_bottom p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #2C394B;
    margin: 8px 0px 22.5px 20px
}

/* .blog_card-2 {
    float: left;
    width: 355px;
    height: 264px;
    margin-right: 47px;
    align-items: center;
    padding: 40px;
    background: #2C394B;
}

.blog_card-2_text {
    width: 292px;
    height: 52px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    
    text-align: center;
    color: #C2C2C2;
    margin-bottom: 30px;  
} */

.blog_card-3 {
    float: left;
    width: 360px;
    height: 357px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 10px 9px rgba(0,0,0,0.35);
    margin-bottom: 38.82px;
}

.footer {
    /* border: 2px solid yellow; */
    background: #F6F6F6;
    margin-top: 99px;
}

.address {
    /* border: 2px solid yellow; */
    float: left;
    margin: 90.9px 80.5px 212.5px 117px;
}

.address h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 24.5px;
}

.address ul li{
    margin-left: -35px;
    list-style: none;
    margin-bottom: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.address p{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #334756;
    margin-top: 33px;
}

.links_section {
    float: left;
    border-bottom: 1px solid #667580;
    margin-top: 90.9px;
    padding-bottom: 118.91px;
    padding-left: 55px;
}

.links {
    /* border: 2px solid black; */
    float: left;
    margin-right: 120px;
}

.links h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #334756;
    margin-bottom: 34.5px;
}

.links ul li {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 20px;
}

.links ul li a {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #667580;
}

.links ul li a:hover {
    color: black;
}

.createdby {
    /* border: 2px solid black; */
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #667580;
    text-align: center;
}

.createdby-mobile {
    display: none;
}

.connect {
    /* border: 2px solid black; */
    float: right;
    margin-top: 85px;
    margin-right: 117px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334756;
}

.connect p {
    text-align: right;
    margin-bottom: 30px;
}

.social_icons i{
    margin-left: 30px;
}

.footer_wrapper {
    float: left;
    /* border: 2px solid red; */
}

/*******************mobile view**************************/

@media only screen and (max-width: 767px) {
    
    .container {
        max-width: 375px;
    }

    .hamburger {
        float: left;
        display: inline-block;
        margin-top: 26.46px;
        margin-left: 25.63px;
    }

    .logo {
        margin: 14px 33px 33px 72.7px;
    }

    .nav {
        display: none;
    }

    .header {
        border: none;
    }

    /*******Introduction Begins*******/
    .wrapper {
        /* border: 2px solid yellow; */
        margin-top: 0px;
    }

    .introduction {
        /* border: 2px solid brown; */
    }

    .introduction_image img{
        width: 100%;
        margin-left: 0px;
    }

    .introduction_content {
        /* border: 2px solid red; */
        width: 334px;
        margin: 32px 20px 40px 21px;
    }

    .introduction_content h1 {
        font-size: 27px;
        line-height: 36px;
        width: 334px;
        height: 108px;
        margin-top: 0px;
    }

    .introduction_content p {
        display: none;
    }

    .introduction_content .mobile {
        display: block;
        margin-bottom: 50px;
        line-height: 26px;
    }

    .colored-button {
        margin-top: 20px;
        width: 335px;
        margin-right: 0px;
    }

    .simple-button {
        width: 335px;
        margin: 20px 0px;
    }
    /*******Introduction Ends*******/

    /*******Browse Begins*******/
    .browse {
        margin: 0px;
        padding: 32px 20px 25.18px 20px;
        background: #F6F6F6;
    }

    .browse_content {
        /* border: 2px solid gray; */
    }

    .browse_content h1 {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 12px;
    }

    .browse_content p {
        display: none;
    }

    .browse_content .browse_text_mobile {
        display: inline;
        line-height: 26px;
    }

    .browse_cards {
        margin-top: 20px;
    }

    .card-1 {
        width: 325px;
    }

    .card-1 img {
        width: 325px;
    }

    .card-2 {
        width: 325px;
        margin-top: 24px;
        padding: 20px;
    }

    .card-3 {
        width: 325px;
        margin-top: 24px;
    }

    .card-3 img {
        width: 325px;
    }
    /*******Browse Ends*******/

    /*******Facilities Begins*******/
    .facilities {
        /* border: 2px solid blue; */
        margin: 20px;
        margin-top: 40px;
    }

    .facilities_text_mobile {
        margin-right: 19px;
    }

    .facilities_content ul {
        float: none;
    }

    .facilities_content ul a li{
        float: none;
        display: block;
        margin-left: -20px;
        margin-right: 18px;
    }

    .facilities_content img {
        display: none;
    }

    /*******Location Begins*******/
    .location {
        /* border: 2px solid pink; */
        margin-top: 66px;
    }

    .location_content {
        /* border: 2px solid red; */
        float: none;
        width: 335px;
        margin-right: 20px;
        margin-top: 0px;
        margin-left: 20px;
        padding-top: 2px;
    }

    .location_content h1 {
        font-size: 27px;
        line-height: 35px;
        margin-top: 40px;
    }

    .location_content p {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .map_desktop {
        display: none;
    }

    .map_mobile {
        display: block;
        width: 330px;
        height: 146px;
        margin-left: 0px;
        margin-bottom: 33px;
    }

    .location_explore {
        margin-bottom: 49px;
        margin-left: 20px;
    }

    /*******Feedback Begins*******/
    .feedback {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .feedback_card {
        width: 330px;
    }

    .feedback_card2 {
        display: none;
    }

    .feedback_card-3 {
        display: none;
    }

    .feedback_card_bottom-card2 {
        border: 2px solid white;
        margin-top: 73px;
        display: none;
    }

    .swipe {
        margin-top: 28.98px;
        display: block;
        font-family: Lato;
        font-size: 20px;
        line-height: 24px;
        color: #086DE0;
    }
    /*******Feedback Ends*******/

    .companies {
        /* border: 2px solid red; */
        margin-top: 80px;
        margin-left: 0px;
        margin-right: 0px;
        background: #F6F6F6;
        padding-bottom: 28px;
        padding-top: 20px;
    }

    .companies_heading {    
        font-size: 27px;
        line-height: 36px;
        text-align: left;
        margin: 28px 16px 0px 24px;
    }

    .companies_para {
        line-height: 26px;
        text-align: left;
        margin: 12px 16px 0px 24px;
    }

    .companies_logo {
        margin-left: 90.8px;
        margin-top: 10px;
        text-align: center;
    }

    .companies_logo img {
        margin-top: 32px; 
        margin-left: -20px;
    }

    .blog {
        margin: 40px 20px 0px 20px;
    }

    .trends_title_desktop {
        display: none;
    }

    .trends_title_mobile {
        display: inline;
    }

    .blog_cards {
        margin-top: 20px;
    }

    .blog_card-1 {
        width: 325px;
    }

    .blog_card-1 img{
        width: 325px;
    }

    .card-1-2 {
        display: none;
    }

    .blog_card-3 {
        display: none;
    }

.footer {
    background: #F7F7F7;
    margin-top: 35px;
}

.address {
    margin: 40px 0px 0px 20px;
}

.links {
    display: none;
}

.createdby-mobile{
    display: block;
    float: left;
    border-top: 1px solid ;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #667580;
    margin: 40px 41px 50px 20px;
    padding-top: 19.9px;
}

.connect {
    float: left;
    margin-top: 28px;
    margin-left: -10px;
}

.connect p {
    display: none;
}

.footer_wrapper {
    display: none;
}
}

/******************************tablet view**************************/

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .container {
        max-width: 834px;
    }
    
    /*******Header Begins*******/
    .hamburger {
        float: left;
        display: inline-block;
        margin-top: 26.46px;
        margin-left: 32px;
    }

    .logo {
        margin: 14px 33px 33px 290.7px;
    }

    .nav {
        display: none;
    }

    .header {
        border: none;
    }
    
    /*******Introduction Begins*******/
    .wrapper {
        margin-top: 37px;
    }

    .introduction_image img{
        width: 370px;
        height: 293px;
        margin-left: 32px;
        margin-right: 0px;
    }
    
    .introduction_content {
        width: 367px;
        margin: 0px 32px 0px 5px;
    }
    
    .introduction_content h1 {
        font-size: 27px;
        line-height: 36px;
        margin-top: 0px;
        margin-bottom: 16px;
        width: 341px;
        height: 108px;
    }

    .introduction_content p {
        width: 367px;
        height: 104px;  
        line-height: 26px;
        margin-bottom: 16px;
    }

    .colored-button {
        margin-right: 0px;
    }
    
    .simple-button {
        float: right;
        margin: 0px 0px;
    }
    
    /*******Browse Begins*******/
    .browse {
        margin: 48px 0px 0px 32px;
    }
    
    .browse_content h1 {
        font-size: 25px;
        line-height: 33px;
    }
    
    .browse_text_tablet {
        display: none;
    }
    
    .browse_text_mobile {
        display: block;
        margin-top: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #667580;
    }
    
    .browse_cards {
        margin-top: 40px;
    }
    
    .card-1 {
        width: 244px;
        height: 201px;
        margin-right: 20px;
    }

    .card-1 img {
        width: 244px;
        height: 138px;
    }
    
    .card-2 {
        width: 244px;
        height: 201px;
        margin-right: 20px;
        padding: 8px 14px 20px 14px;
    }
    
    .card-2_text {
        width: 215px;
        height: 65px;   
        margin-bottom: 30px; 
    }
    
    .card-3 {
        width: 244px;
        height: 201px;
    }

    .card-3 img {
        width: 244px;
        height: 138px;
    }
    
    /*******Facilities Begins*******/
    .facilities {
        margin: 48px 29.63px 62px 32px;
    }

    .facilities_title_desktop {
        display: none;
    }
    
    .facilities_title_tablet {
        display: block;
    }

    .facilities_text_desktop {
        display: none;
    }

    .facilities_content {
        margin-top: 20px;
    }

    .facilities_content ul a li{
        font-size: 20px;
    }
    
    .facilities_content img {
        float: right;
        width: 401px;
        height: 240px;
    }
    
    /*******Location Begins*******/
    .location {
        margin-top: 0px;
    }
    
    .map_desktop {
        width: 394px;
        height: 153px;
        margin-top: 97px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
    .location_content {
        width: 331px;
        float: left;
        margin: 40px 16px 40px 28px;
    }
    
    .location_content h1 {
        font-size: 27px;
        line-height: 35px;
        margin-top: 0px;
    }
    
    .location_content p {
        line-height: 26px;
        color: #667580;
        margin-bottom: 44px;
        margin-top: 20px;
    }
    
    /*******Feedback Begins*******/
    .feedback {
        margin: 48px 0px 0px 32px;
    }
    
    .feedback_card-3 {
        display: none;
    }
    /*******Feedback Ends*******/
    
    .companies {
        margin: 74.98px 42px 0px 43px;
    }

    .companies p {
        margin-bottom: 60px;
    }
    
    .companies_logo {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 0px;
    }

    .companies_logo img {
        margin-left: 0px;
        margin-right: 20px;
    }
    
    .blog {
        margin: 80px 30px 100px 32px;
    }
    
    .trends_title_mobile {
        display: none;
    }
    
    .blog_cards {
        margin-top: 40px;
    }

    .blog_card-1 {
        width: 220px;
        height: 315px;
    }

    .blog_card-1 img{
        width: 220px;
        height: 159px;
    }

    .blog_card_bottom h4 {
        font-size: 18px;
    }

    .card-1-2 {
        display: none;
    }

    .blog_card-3 {
        display: none;
    }

    .footer {
        margin-top: 0px;
    }
    
    .address {
        float: left;
        margin: 40px 0px 0px 32px;
    }
    
    .links_section {
        float: left;
        border-bottom: 1px solid #667580;
        margin-top: 90.9px;
        padding-bottom: 118.91px;
        padding-left: 55px;
    }
    
    .links {
        display: none;
    }
    
    .connect {
        margin-top: 117px;
        margin-right: 32px;
    } 
    
    .createdby-mobile{
        display: block;
        float: left;
        border-top: 1px solid;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #667580;
        margin: 90px 30px 50px 35px;
        padding-top: 19.9px;
        width: 90%;
        text-align: center;
    }

    .footer_wrapper {
        display: none;
    }
}